.cinema__header {
  background-image: url(../cinemaImages/danse-macabre.png);
  background-size: (700px 310px);
  background-repeat: no-repeat;
  background-color: #2f3542;
  height: 100%;
  z-index: 2;
  position: relative;

  .cinema__header_wrapper {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    .cinema__titls {
      padding: 20px 0;
      display: grid;
      grid-template: 1fr / repeat(4, 180px);
      align-items: start;
      justify-items: center;

      h2 {
        position: relative;
        cursor: pointer;
        font-family: monospace;
        font-style: italic;
        border: 5px solid #353b48;
        border-radius: 30px;

        &:hover {
          color: #dfe4ea;
          border: 5px solid #dfe4ea;
        }
      }
    }
    .cinema__logo {
      position: relative;
      padding-top: 5px;
      padding-right: 8px;
      img {
        width: 360px;
        height: 150px;
        border-radius: 50px;
        border: 7px solid black;
      }
      &:before {
        content: "Cinema Collection";
        display: block;
        font-size: 30px;
        color: #dfe4ea;
        font-family: Fira Sans;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 38px;
        left: 50%;
      }
    }
  }
}

.cinema__active_fest {
  color: darkgoldenrod;
}
