.cinema__content {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  .cinema__list {
    padding-left: 8px;
    li {
      cursor: pointer;
      max-width: 400px;
      &:not(:last-child) {
        margin-bottom: 12px;
      }
      h3 {
        display: inline;
      }
      .cinema__item_year {
        padding-left: 6px;
      }
    }
  }
  .cinema__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .cinema__item-wrap {
      border-radius: 30px;
      bottom: 20px;
      // margin-left: 140px;
      z-index: 1;
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 610px;
      height: 600px;
      background-color: black;
      // padding-top: 180px;
      // padding-bottom: 30px;
      padding: 0 8px;

      .cinema__exit {
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
        cursor: pointer;
      }

      .cinema__frames {
        padding-right: 5px;
        img {
          width: 240px;
          max-height: 180px;
          display: block;
        }
      }

      .cinema__poster {
        img {
          width: 300px;
          max-height: 430px;
          // display: block;
          // margin: 0px auto;
        }
      }
      .cinema__feed {
        h1 {
          color: #dfe4ea;
          text-align: center;
          font-family: Fira Sans;
        }
        h2 {
          color: #dfe4ea;
          padding-top: 10px;
          font-style: italic;
          text-align: center;
        }
      }
    }
  }
}

.cinema__li_active {
  color: gray;
}

.cinema__exit_active {
  display: none;
}
