.cinema__content {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  .cinema__list {
    li {
      cursor: pointer;
      max-width: 400px;
      &:not(:last-child) {
        margin-bottom: 12px;
      }
      h3 {
        display: inline;
      }
      .cinema__item_year {
        padding-left: 6px;
      }
    }
  }
  .cinema__item {
    // display: flex;
    // align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .cinema__item-wrap {
      bottom: 20px;
      z-index: 1;
      position: fixed;
      display: flex;
      width: 550px;
      .cinema__feed {
        width: 55%;
        margin-top: 25%;
        h1 {
          color: #dfe4ea;
          text-align: center;
        }
        h2 {
          color: #dfe4ea;
          padding-top: 10px;
          font-style: italic;
          text-align: center;
        }
      }

      img {
        width: 45%;
        height: 350px;
        display: block;
        margin: 0px auto;
      }
    }
  }
}

.cinema__li_active {
  color: gray;
}
