.cinema__content {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  .cinema__list {
    li {
      cursor: pointer;
      max-width: 400px;
      &:not(:last-child) {
        margin-bottom: 12px;
      }
      h3 {
        display: inline;
      }
      .cinema__item_year {
        padding-left: 6px;
      }
    }
  }
  .cinema__item {
    // display: flex;
    // align-items: center;
    // position: relative;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    width: 100%;
    height: 100%;

    .cinema__item-wrap {
      // bottom: 20px;
      // z-index: 1;
      // position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 610px;
      height: 600px;
      background-color: black;
      // padding-top: 180px;
      // padding-bottom: 30px;

      .cinema__frames {
        padding-right: 5px;
        img {
          max-width: 260px;
          max-height: 180px;
          display: block;
        }
      }

      .cinema__poster {
        img {
          max-width: 300px;
          max-height: 430px;
          // display: block;
          // margin: 0px auto;
        }
      }
      .cinema__feed {
        h1 {
          color: #dfe4ea;
          text-align: center;
        }
        h2 {
          color: #dfe4ea;
          padding-top: 10px;
          font-style: italic;
          text-align: center;
        }
      }
    }
  }
}

.cinema__li_active {
  color: gray;
}
