.store__home_scroll {
  h3 {
    text-align: center;
    margin: 2rem 0;
  }
  .store__home_table {
    width: 700px;
    margin: 0px auto;

    .store__home_li {
      font-weight: 700;
      border-radius: 0;
      border: 4px solid black;
      margin-bottom: 4px;
    }
    li {
      display: flex;
      justify-content: space-between;
      border: 1px solid black;
      border-radius: 10px;
      span {
        text-align: center;
        width: 130px;

        &:nth-child(2) {
          width: 260px;
        }
        &:first-child {
          width: 50px;
        }
      }
    }
  }
}

.store__home_wrap-btn {
  display: flex;
  justify-content: space-around;
  button {
    padding: 5px;
    &:nth-child(1) {
      background-color: yellow;
    }
    &:nth-child(2) {
      background-color: green;
    }
    &:nth-child(3) {
      background-color: red;
    }
  }
}

.store__home_total {
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;

  h5 {
    text-align: right;
  }

  button {
    background-color: #84817a;
    padding: 10px 5px;
    border-radius: 5px;
    font-family: "Playfair Display", serif;
    font-size: 16px;
    margin-top: 10px;
    display: block;
    margin-right: 0;
    margin-left: auto;
  }
}
