//   @media (max-width: 1200px) {
//     max-width: 970px;
//   }
//   @media (max-width: 992px) {
//     max-width: 762px;
//   }
//   @media (max-width: 768px) {
//     max-width: 538px;
//   }
//   @media (max-width: 576px) {
//     max-width: 346px;
//   }

@media (max-width: 992px) {
  .store__home_scroll {
    .store__home_table {
      width: 580px;
      .store__home_li {
      }
      li {
        span {
          width: 100px;

          &:nth-child(2) {
            width: 260px;
          }

          &:first-child {
            width: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 620px) {
  .store__home_scroll {
    .store__home_table {
      width: 480px;
      .store__home_li {
      }
      li {
        span {
          &:nth-child(5) {
            width: 100px;
          }

          &:nth-child(2) {
            width: 260px;
          }

          &:nth-child(3) {
            width: 50px;
          }

          &:nth-child(4) {
            width: 50px;
          }

          &:first-child {
            width: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 530px) {
  .store__home_scroll {
    .store__home_table {
      max-width: 350px;
      padding: 0 2px;

      .store__home_li {
      }
      .store__home_li_adap {
        text-align: center;
        &:after {
          content: "";
          display: block;
          width: 60px;
          height: 3px;
          background-color: black;
          margin: 4px auto;
        }
      }
      li {
        display: block;
        text-align: center;
        &:not(:last-child) {
          margin-bottom: 10px;
        }
        div {
          display: flex;
          justify-content: space-evenly;
          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .store__home_item {
    display: block;
    .store__home_info {
      width: 240px;
      text-align: center;
      margin-bottom: 6px;
    }
    .store__home_image {
      position: relative;
      z-index: 0;
      img {
        margin: 0px auto;
        display: block;
      }
      button {
        position: absolute;
        z-index: 2;
        right: 75px;
        bottom: 0;
        width: 100px;
        padding: 10px 0;
        font-family: "Playfair Display", serif;
        background-color: #f7f1e3;
        border: 2px solid #d1ccc0;
        &:hover {
          background-color: #596275;
        }
      }
    }
  }
}
