.store__home_item1 {
  margin-top: 1rem;
  display: inline-flex;
  font-family: "Playfair Display", serif;

  img {
    width: 200px;
    height: 280px;
  }
  .store__home_info {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: start;
    margin-left: 1rem;
    .store__home_btn-item {
      width: 100px;
      padding: 10px 0;
      font-family: "Playfair Display", serif;
      background-color: #f7f1e3;
      border: 2px solid #d1ccc0;
    }
    h4 {
      font-size: 20px;
    }
  }
}

.store__home_item2 {
  margin-top: 1rem;
  display: inline-flex;
  font-family: "Playfair Display", serif;

  img {
    width: 200px;
    height: 280px;
    display: block;
  }
  .store__home_info {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: end;
    margin-right: 1rem;
    .store__home_btn-item {
      width: 100px;
      padding: 10px 0;
      font-family: "Playfair Display", serif;
      background-color: #f7f1e3;
      border: 2px solid #d1ccc0;
      display: block;
      margin-left: auto;
      margin-right: 0;
    }
    h4 {
      font-size: 20px;
    }
  }
}
