.store__cart {
  // min-height: 100vh;
  .store__cart_slider {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    i {
      align-self: center;
      cursor: pointer;
    }
    .store__cart_item {
      h4 {
        text-align: center;
        font-style: italic;
      }
      .store__cart_img {
        margin-top: 22px;
        position: relative;
        img {
          width: 200px;
          height: 300px;
          // transform: rotate(6deg);
          z-index: 0;
          margin-right: 8px;
          margin-left: 8px;
        }
        .store__cart_price {
          background-color: black;
          color: blanchedalmond;
          position: absolute;
          border-radius: 5px;
          font-size: 18px;
          z-index: 1;
          border-radius: 10px;
          padding: 0 3px;
        }
        .store__cart_count {
          position: absolute;
          right: 20px;
          top: 20px;
          background-color: blanchedalmond;
          color: black;
          z-index: 1;
        }
        .store__cart_delete {
          position: absolute;
          right: 0;
          bottom: 0;
          background-color: red;
          color: black;
          cursor: pointer;
          z-index: 1;
          i {
            padding: 6px;
          }
        }
      }
    }
  }

  .store__cart_button {
    display: flex;
    margin-top: 26px;
    .store__cart_exit {
      font-size: 26px;
      width: 170px;
      height: 60px;
      border-bottom-right-radius: 26px;
      border-top-right-radius: 26px;
      display: block;
      margin-right: auto;
      margin-left: 0;
      &:hover {
        background-color: red;
        color: #fff;
      }
    }

    .store__cart_total {
      font-size: 26px;
      width: 170px;
      height: 60px;
      border-bottom-left-radius: 26px;
      border-top-left-radius: 26px;
      display: block;
      margin-left: auto;
      margin-right: 0;
      &:hover {
        background-color: green;
        color: #fff;
      }
    }
  }
}

.store__cart_item.none {
  display: none;
}
