.todo__item {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  justify-content: center;
  span {
    overflow: auto;
    font-size: 20px;
    flex-wrap: wrap;
    cursor: pointer;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  button {
    // display: block;
    border-radius: 9px;
    width: 35px;
    height: 25px;
    margin-left: 15px;

    &:hover {
      box-shadow: inset 0 0 0 2px tomato;
      color: tomato;
    }
  }

  .todo__delete {
    &:hover:before {
      content: "Delete";
      display: block;
      font-size: 25px;
      color: #800000;
      transform: translate(-50%, -50%);
      position: absolute;
      top: 35px;
      left: 50%;
    }
  }

  .todo__important {
    &:hover:before {
      content: "Important";
      display: block;
      font-size: 25px;
      color: #800000;
      transform: translate(-50%, -50%);
      position: absolute;
      top: 35px;
      left: 50%;
      font-weight: normal;
    }
  }
}
