.red__top-bar {
  background-color: #dfe4ea;
  min-height: 100px;
  .red__top-bar_container {
    padding-top: 20px;
    max-width: 1180px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    h2 {
      font-size: 40px;
      color: #2ed573;
    }
    ul {
      display: flex;
      min-width: 300px;
      justify-content: space-between;
      padding-top: 10px;
      li {
        .active {
          h4 {
            color: brown;
          }
        }

        h4 {
          color: lightslategray;
          font-size: 25px;
          font-weight: 700;
          &:hover {
            color: black;
          }
        }
      }
    }
  }
}
