.cinema__main {
  background-color: #2f3542;

  .cinema__festival {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
    background-color: #2f3542;
    img {
      // min-width: 120px;
      max-width: 300px;
      // min-height: 140px;
      max-height: 120px;
    }
    h1 {
      font-style: italic;
      font-family: "Fira Sans";
      font-weight: 400;
      color: #dfe4ea;
      max-width: 350px;
    }
    p {
      padding-left: 8px;
      font-size: 13px;
      max-width: 300px;
      font-style: italic;
      font-family: "Fira Sans";
    }
  }
}
