.todo__add {
  margin: 20px 0;

  .todo__add_form {
    display: flex;
    input {
      font-size: 20px;
      padding: 0 20px;
      border-radius: 3px;
    }

    button {
      width: 40px;
      height: 40px;
      transition-delay: 0.2s;
      transition-duration: 0.3s;
      margin-left: 8px;
      &:hover {
        box-shadow: inset 0 0 0 2px tomato;
        color: tomato;
      }
    }
  }
}
