.cinema {
  margin: 0px auto;
  background-color: grey;
  height: 100%;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  max-width: 1366px;
  .cinema__container {
    max-width: 1180px;
    margin: 0 auto;
  }
}
