.cinema {
  background-color: grey;
  height: 100%;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  .cinema__container {
    max-width: 1180px;
    border: indigo;
    margin: 0 auto;
  }
}
