//   @media (max-width: 1200px) {
//     max-width: 970px;
//   }
//   @media (max-width: 992px) {
//     max-width: 762px;
//   }
//   @media (max-width: 768px) {
//     max-width: 538px;
//   }
//   @media (max-width: 576px) {
//     max-width: 346px;
//   }

@media (max-width: 1220px) {
  .cinema__header {
    background-color: #fff;
    .cinema__header_wrapper {
      .cinema__titls {
        grid-template: 1fr / repeat(4, 140px);
      }
    }
  }
}

@media (max-width: 990px) {
  .cinema__main {
    background-color: #fff;
  }
  .cinema__header {
    background-color: #2f3542;
    .cinema__header_wrapper {
      .cinema__titls {
        grid-template: repeat(2, 60px) / repeat(2, 140px);
        // grid-gap: 5px;
        // align-content: space-around;
        margin: 0px auto;
        color: #dfe4ea;
        h2 {
          padding: 10px;
        }
      }
    }
  }
}

@media (max-width: 880px) {
  .cinema__main {
    background-color: #2f3542;
    .cinema__content {
      .cinema__list {
        display: grid;
        grid-template-columns: 6fr 6fr;
      }
      .cinema__item {
        .cinema__item-wrap {
        }
      }
    }
  }
}
